<div class="col-6 mx-auto">
<p class="fs-3">Ask your coach</p>
<form action="/answer" data-turbo="false" method="get" class="pt-3 mb-2">
  <input type="text" name="question" class="form-control mb-5">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
